@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: "Nunito", sans-serif;
  color: var(--color-text);
}

/* :root {
  --color-text: #333332;
  --color-background: #FAF4E5;
  --color-primary: #9CDE4E;
  --color-secondary: #E5A1AA;
  --color-tertiary: #8395CD;
} */

:root {
  --color-text: #E8E8E8;
  --color-background: #191919;
  --color-primary: #9CDE4E;
  --color-secondary: #E5A1AA;
  --color-tertiary: #8395CD;
}

/* Experience --------------------------------*/
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

/* Page Itself --------------------------------*/
.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Section Formatting --------------------------------*/
.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  position: relative;
  width: 50%;
  padding: 300px 4%;
  margin: 0;
  background-color: var(--color-background);
  overflow: hidden;

}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress bars --------------------------------*/
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  background-color: var(--color-primary);
  transform-origin: top center;
  transform: scaleY(1);
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 400px;
}
 
.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
  padding-bottom: 400px;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 16px;
}

/* Fancy Decoration Part of Section */
.section-title {
  position: relative;
  color: var(--color-primary)
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-primary);
  transform-origin: left;
  transform: skewY(-25deg);


}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-primary);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0px;
  color: var(--color-primary);
  font-size: 24px;
  /* margin-top: auto; */
}

/* Hero Section --------------------------------*/
.hero {
  width: 100vw;
  height: 100vh;
}

.hero0-wrapper {
  position: relative;
  height: 100%;
  width: 700px;
  margin: 0 auto;
  max-width: 1100px;
}

.image-wrapper {
  display: absolute;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

img {
  position: absolute;
}

.floatingObjects {
}

#head {
  width: 70%;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* top: 120px; */
}

@keyframes float {
  from {bottom: 28%;}
  to {bottom: 32%;}
}

#floatingObject1 {
  width: 30%;
  position: absolute;
  bottom: 28%;
  left: 0px;
  animation-name: float;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

#floatingObject2 {
  width: 20%;
  position: absolute;
  bottom: 28%;
  right: 0px;
  animation-name: float;
  animation-duration: 4.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-delay: 0.2s;
  animation-timing-function: ease-in-out;
}

.hero0-main {
  position: absolute;
  top: 120px;
  margin: auto;
  text-align: center;
}

.hero0-main-title {
  font-size: 76px;
}

.hero0-main-description {
  font-size: 28px;
}

/* Original Hero ---------------*/

.hero-wrapper {
  position: relative;
  height: 100vh;
  width: 600px;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  top: 120px;
  left: 0;
  right:0;
  margin: auto;
  text-align: center;
}

.hero-main-title {
  font-size: 48px;
}

/* Other colors override --------------------------------*/
.secondary-color-text {
  color: var(--color-secondary);
}

.secondary-color-border {
  border-color: var(--color-secondary);
}

.secondary-color-background {
  background-color: var(--color-secondary);
}

.tertiary-color-text {
  color: var(--color-tertiary);
}

.tertiary-color-border {
  border-color: var(--color-tertiary);
}

.tertiary-color-background {
  background-color: var(--color-tertiary);
}


/* Media Queries --------------------------------*/
@media (max-width: 968px) {
  .section{
    width: 100%;
    padding: 500px 4%;
  }

  .progress-bar-wrapper-left {
    right: 0;
    left: auto;
  }
}